@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
body {
  background: url(../img/fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.logo {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 54px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}
.logo_left {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.svg {
  display: flex;
  gap: 26px;
}
.logo_right {
  margin-left: 757px;
  display: flex;
}
.text_welcom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.text_welcom::before {
  content: "";
  margin-right: 26px;
  margin-left: 26px;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.text_welcom:hover::before {
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.1;
}
.logo_left:hover,
.link_log_in:hover,
.link_sign_up:hover {
  color: #3cb878;
}
.header-svg path:hover {
  fill: #3cb878;
}

.form {
  max-width: 444px;
  margin-top: 54px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin: 0 auto;
  position: relative;
}

.form_titl {
  display: flex;
  padding-top: 32px;
  padding-bottom: 14px;
  justify-content: center;
  gap: 216px;
}

.sign_up {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.sign_up::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  display: block;
  position: absolute;
  top: 32px;
  left: 0px;
}

.form_link_log_in {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.form_link_log_in:hover {
  color: #01813f;
  text-decoration: underline;
}

main a {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 31px;
}

.button_facebook,
.button_google {
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.button_facebook {
  padding: 12px 17px;
  background: #305db8;
  position: relative;
}

.button_facebook:hover {
  background: #022263;
}

.button_facebook_span::before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 10px;
  left: 48px;
}

.button_google {
  padding: 15px 24px 15px 10px;
  background: #df4a32;
  position: relative;
}

.button_google:hover {
  background: #ab1f09;
}

.button_google_span::before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 10px;
  left: 47px;
}

.span_or {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  text-align: center;
  margin-bottom: 11px;
}

.span_or::before {
  content: "";
  width: 152px;
  height: 0px;
  border: 1px solid #f2f2f2;
  display: block;
  position: absolute;
  top: 150px;
  left: 60px;
}

.span_or::after {
  content: "";
  width: 152px;
  height: 0px;
  border: 1px solid #f2f2f2;
  display: block;
  position: absolute;
  top: 150px;
  right: 60px;
}

input {
  border: none;
  outline: none;
  width: 322px;
  height: 44px;
  margin-bottom: 12px;
  margin-left: 61px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

input::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  padding-left: 19px;
}

input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input-ckecbox_rules {
  width: 14px;
  height: 14px;
  border: 2px solid #3cb878;
}

.label-agree {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.link_terms_conditions {
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
}

.link_terms_conditions:hover {
  color: #01813f;
  text-decoration: underline;
}

.sumbit_create {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.sumbit_create:hover {
  background: #01813f;
}
